
        body {
            font-family: Arial, sans-serif;
            background-color: #1f201f;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #222;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        h2 {
            margin: 20px auto 30px auto;
            font-size: 23px;
            padding: 5px 15px 5px 20px;
            background: linear-gradient(45deg,  #578fd3 0%, #00fffb 49%, #578fd3 100%);
            background-clip: text;
            color: transparent;
            box-shadow: 0 0 7px #00fffb;
            border-radius: 200px;
            max-width: 300px;
            user-select: none;
        }
        

        p {
            color: #999;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px 10px 5px 10px;
            background-color: black;
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #ff671f;
            box-shadow: 0 0 10px rgba(255, 103, 31, 10);
            border-radius: 15px;
        }

        a {
            text-decoration: none;
            color: #007bff;
            margin-top: 20px;
            display: block;
        }

        a:hover {
            text-decoration: underline;
        }